# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Env
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts (Docker will build fresh)
dist
build

# IDE
.idea
.vscode

# Tests
coverage

# Strapi
.strapi
exports
.strapi-updater.json
.strapi-cloud.json
