# --- Terraform Files ---
# Local terraform directory (contains providers and plugins)
.terraform/
# Terraform binaries
terraform.exe
# Local state files
*.tfstate
*.tfstate.backup
# Lock file
.terraform.lock.hcl
# Crash logs
crash.log

# --- Credentials & Secrets ---
# Never push your AWS keys or secrets
.env
*.pem
aws_creds.txt
.aws/credentials

# --- Node.js / Strapi Files ---
node_modules/
build/
.tmp/
.cache/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Operating System Files ---
Thumbs.db
ehthumbs.db
Desktop.ini